<app-side-nav (projectNameChange)='handleProjectNameChange($event)'></app-side-nav>
<nz-spin nzTip="Loading..." [nzSize]="'large'" *ngIf="loading">
    <div class="wrapper">
        <div class="title-container">
            <h1 class="title">{{projectName}}</h1>
        </div>
        <div class="files-wrapper" *ngFor="let files of projectFiles">
            <div class="files-container">
                <div class="btn-1">
                    <button class="file-icon-wrapper" (click)="openPDF(files[0].name)"><i nz-icon nzType="file-pdf"
                            nzTheme="outline" class="file-icon"></i></button>
                    <p class="file-name">{{files[0].name}}</p>
                </div>
                <div class="btn-1" *ngIf="files.length > 1">
                    <button class="file-icon-wrapper" (click)="openPDF(files[1].name)"><i nz-icon nzType="file-pdf"
                            nzTheme="outline" class="file-icon"></i></button>
                    <p class="file-name">{{files[1].name}}</p>
                </div>
                <div class="btn-3" *ngIf="files.length > 2">
                    <button class="file-icon-wrapper" (click)="openPDF(files[2].name)"><i nz-icon nzType="file-pdf"
                            nzTheme="outline" class="file-icon"></i></button>
                    <p class="file-name">{{files[2].name}}</p>
                </div>
            </div>
        </div>
    </div>
</nz-spin>
<div class="wrapper" *ngIf="!loading">
    <div class="title-container">
        <h1 class="title">{{projectName}}</h1>
    </div>
    <div class="files-wrapper" *ngFor="let files of projectFiles">
        <div class="files-container">
            <div class="btn-1">
                <button class="file-icon-wrapper" (click)="openPDF(files[0].name)"><i nz-icon nzType="file-pdf"
                        nzTheme="outline" class="file-icon"></i></button>
                <p class="file-name">{{files[0].name}}</p>
            </div>
            <div class="btn-1" *ngIf="files.length > 1">
                <button class="file-icon-wrapper" (click)="openPDF(files[1].name)"><i nz-icon nzType="file-pdf"
                        nzTheme="outline" class="file-icon"></i></button>
                <p class="file-name">{{files[1].name}}</p>
            </div>
            <div class="btn-3" *ngIf="files.length > 2">
                <button class="file-icon-wrapper" (click)="openPDF(files[2].name)"><i nz-icon nzType="file-pdf"
                        nzTheme="outline" class="file-icon"></i></button>
                <p class="file-name">{{files[2].name}}</p>
            </div>
        </div>
    </div>
</div>